<section class="hero overflow-hidden py-4">
  <div class="row">
    <div class="col-12 col-md-6 hero__left">
      <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators list-unstyled">
          <li
            data-bs-target="#carouselId"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="First slide"
          ></li>
          <li
            data-bs-target="#carouselId"
            data-bs-slide-to="1"
            aria-label="Second slide"
          ></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="banner">
              <img
                src="assets/images/main-banner.jpg"
                alt="main-banner"
                class="img-fluid"
              />
              <div class="main-banner-content">
                <h5 class="subtitle">SuperCharged for pros</h5>
                <h4 class="title">Special sale</h4>
                <p class="desc">
                  from $999.00 or $99/mo <br />
                  for 24 mo. footnote
                </p>
                <a routerLink="" class="link-btn">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="banner">
              <img
                src="assets/images/main-banner-1.jpg"
                alt="main-banner"
                class="img-fluid"
              />
              <div class="main-banner-content">
                <h5 class="subtitle">SuperCharged for pros</h5>
                <h4 class="title">IPad S13 Pro.</h4>
                <p class="desc">
                  from $999.00 or $99/mo <br />
                  for 24 mo. footnote
                </p>
                <a routerLink="" class="link-btn">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 hero__right">
      <div class="row g-3 h-100">
        <div class="col-12 col-md-6 hero__right-item">
          <div class="card h-100">
            <img
              src="assets/images/catbanner-01.jpg"
              alt="main-banner"
              class="img-fluid card-img-top"
            />
            <div class="sub-banner-content">
              <h5 class="subtitle">SuperCharged for pros</h5>
              <h4 class="title">IPad S13 Pro.</h4>
              <p class="desc">
                from $999.00 or $99/mo <br />
                for 24 mo. footnote
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 hero__right-item">
          <div class="card h-100">
            <img
              src="assets/images/catbanner-02.jpg"
              alt="main-banner"
              class="img-fluid card-img-top"
            />
            <div class="sub-banner-content">
              <h5 class="subtitle">SuperCharged for pros</h5>
              <h4 class="title">IPad S13 Pro.</h4>
              <p class="desc">
                from $999.00 or $99/mo <br />
                for 24 mo. footnote
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 hero__right-item">
          <div class="card h-100">
            <img
              src="assets/images/catbanner-03.jpg"
              alt="main-banner"
              class="img-fluid card-img-top"
            />
            <div class="sub-banner-content">
              <h5 class="subtitle">SuperCharged for pros</h5>
              <h4 class="title">IPad S13 Pro.</h4>
              <p class="desc">
                from $999.00 or $99/mo <br />
                for 24 mo. footnote
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 hero__right-item">
          <div class="card h-100">
            <img
              src="assets/images/catbanner-04.jpg"
              alt="main-banner"
              class="img-fluid card-img-top"
            />
            <div class="sub-banner-content">
              <h5 class="subtitle">SuperCharged for pros</h5>
              <h4 class="title">IPad S13 Pro.</h4>
              <p class="desc">
                from $999.00 or $99/mo <br />
                for 24 mo. footnote
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
