<section class="services py-4">
  <div class="service d-flex align-items-center gap-10">
    <img src="assets/images/service.png" alt="service-02" />
    <div class="service-desc">
      <h4 class="fw-bold text-dark text-capitalize f-size-18 mb-0">
        Free Shipping
      </h4>
      <p class="">For orders above $100</p>
    </div>
  </div>
  <div class="service d-flex align-items-center gap-10">
    <img src="assets/images/service-02.png" alt="service-02" />
    <div class="service-desc">
      <h4 class="fw-bold text-dark text-capitalize f-size-18 mb-0">
        Daily Surprise offers
      </h4>
      <p class="">Save up to 30%</p>
    </div>
  </div>
  <div class="service d-flex align-items-center gap-10">
    <img src="assets/images/service-03.png" alt="service-02" />
    <div class="service-desc">
      <h4 class="fw-bold text-dark text-capitalize f-size-18 mb-0">
        Support 24/7
      </h4>
      <p class="">Shop with an expert</p>
    </div>
  </div>
  <div class="service d-flex align-items-center gap-10">
    <img src="assets/images/service-04.png" alt="service-02" />
    <div class="service-desc">
      <h4 class="fw-bold text-dark text-capitalize f-size-18 mb-0">
        Affordable Prices
      </h4>
      <p class="">Get factory direct prices</p>
    </div>
  </div>
  <div class="service d-flex align-items-center gap-10">
    <img src="assets/images/service-05.png" alt="service-02" />
    <div class="service-desc">
      <h4 class="fw-bold text-dark text-capitalize f-size-18 mb-0">
        Secure Payments
      </h4>
      <p class="">100% protected payments</p>
    </div>
  </div>
</section>
