<footer class="footer">
  <div class="footer__main py-5">
    <div class="container-xxl">
      <div class="row">
        <div
          class="col-12 col-md-5 d-flex align-items-center gap-18 newsletters"
        >
          <img src="assets/images/newsletter.png" alt="newsletter" />
          <h2 class="text-white text-capitalize">Sign Up for newsletters</h2>
        </div>
        <div class="col-12 col-md-7 newsletter-form">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Email address"
              aria-label="Button"
              aria-describedby="Email address"
            />
            <button
              class="btn btn-outline-secondary text-white"
              type="button"
              id="newsletter"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__main-links pt-3">
    <div class="container-xxl">
      <div class="row footer__links">
        <div class="col-12 col-md-4 common-cols">
          <h2 class="footer__header f-size-18 mb-3 text-white fw-600">
            Contact Us
          </h2>
          <div class="">
            <address class="text-white fw-500 f-size-16">
              X Men: Wolverine beast 3456, <br />
              scarlet avenue. <br />
              Die hard
            </address>
            <a
              href="tel:123456778989"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >+345 123456778989</a
            >
            <a
              href="mailto:johndoe@example.com"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >johndoe@example.com</a
            >
            <div class="footer__icons d-flex align-items-center gap-10 mt-1">
              <span class="icon-wrapper"
                ><fa-icon [icon]="icons.fb"></fa-icon
              ></span>
              <span class="icon-wrapper"
                ><fa-icon [icon]="icons.twt"></fa-icon
              ></span>
              <span class="icon-wrapper"
                ><fa-icon [icon]="icons.pint"></fa-icon
              ></span>
              <span class="icon-wrapper"
                ><fa-icon [icon]="icons.ig"></fa-icon
              ></span>
              <span class="icon-wrapper"
                ><fa-icon [icon]="icons.yt"></fa-icon
              ></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2 common-cols">
          <h2 class="footer__header f-size-18 mb-3 text-white fw-600">
            Information
          </h2>
          <div class="">
            <a
              routerLink="/policy/privacy"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Privacy Policy</a
            >
            <a
              routerLink="/policy/shipping"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Shipping Policy</a
            >
            <a
              routerLink="/policy/refund"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Refund Policy</a
            >
            <a
              routerLink="/policy/terms"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Terms & Conditions</a
            >
            <a
              routerLink="/blogs"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Blogs</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2 common-cols">
          <h2 class="footer__header f-size-18 mb-3 text-white fw-600">
            Account
          </h2>
          <div class="">
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Search</a
            >
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >About Us</a
            >
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Faq</a
            >
            <a
              routerLink="/auth/contact"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Contact</a
            >
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Side Chat</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2 common-cols">
          <h2 class="footer__header f-size-18 mb-3 text-white fw-600">
            Quick Links
          </h2>
          <div class="">
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Accessories</a
            >
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Headphones</a
            >
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Smartwatches</a
            >
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Tablets</a
            >
            <a
              routerLink="/"
              class="footer__link text-capitalize text-decoration-none f-size-16"
              >Laptops</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2 common-cols">
          <h2 class="footer__header f-size-18 mb-3 text-white fw-600">
            Our App
          </h2>
          <div class="">
            <p class="text-white">
              download our app and get <b>10%</b> dicount on your first order
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__sub-links row py-2">
    <div class="col-12">
      <p class="text-center text-white">Shopify Ltd &copy;{{ copyRight }}</p>
    </div>
  </div>
</footer>
